


{{#each burgers}}
{{!-- {{#unless devoured}} --}}

<div>
    <ul>
    <li>
    {{this.burger_name}}
    <button class="eatburger" data-id="{{this.id}}">Devour Burger </button>
    </li>
     

    </ul>
</div>
{{/each}}